
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    margin: 20px auto;
}

.contact img {
    filter: var(--icon-color);
    width: 32px;
    height: 32px;
}

#copied-message {
    padding: 10px;
    background-color: var(--button-copy);
    color: var(--text);
    border-radius: 10px;
    position: fixed;
    bottom: -50px;
    transition: bottom 350ms;

    &.show{ bottom: 40px; }
}

