.content {
    width: 300px;
    height: fit-content;
    margin: 0 auto;
    padding-top: 18px;

    @media (min-width: 580px) {
        width: 500px;
    }

    @media (min-width: 768px) {
        width: 680px;
    }
}

#form {
    padding-top: 22px;
    display: grid;
    gap: 12px;

    @media (min-width: 768px) {
        width: 680px;
        grid-template-columns: 1fr 1fr;
    }
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.invisible {
    display: none;
}

#description {
    grid-column: -1/1;
}

#area {
    grid-column: -1/1;
}

#button-visualize {
    background: var(--button-visualize);
}

#button-copy {
    background: var(--button-copy);
}


#result {
    display: none;
}

#report-formatted {
    background: var(--form);
    font-family: sans-serif;
    padding: 10px;
    margin: 10px 0;
    word-break: break-all;
    line-height: 30px;
}

#report-content {
    position: absolute;
    opacity: 0;
    font-size: 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
}