@import url("./theme.css");
@import url("./palette.css");
@import url("./header.css");
@import url("./form.css");
@import url("./footer.css");
body {
  margin: 0;
  background: var(--background);
  font-family: Arial;
  color: var(--text);
  min-width: 360px;
  width: 100%;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--text);
}

input, textarea {
  font-family: Arial;
  font-size: 14px;
  color: var(--text);
  background: var(--input);
  border: 0;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  border: 2px solid var(--form);
}

input:focus, textarea:focus {
  border: 2px solid var(--button);
}

textarea {
  resize: vertical;
  height: 60px;
}
textarea::placeholder {
  color: var(--text);
}

input[type=time]::-webkit-calendar-picker-indicator {
  filter: var(--icon-color);
}

button {
  width: max-content;
  height: 50px;
  color: var(--text);
  font-size: 16px;
  font-weight: bold;
  background: var(--button);
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
}
button img {
  filter: var(--icon-color);
}
button:hover {
  background: var(--button-hover);
}

ul {
  margin: 0;
}
