@use "./theme.css";
@use "./header.css";
@use"./form.css";
@use"./footer.css";

body {
    margin: 0;
    background: var(--background);
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--text);
    min-width: 360px;
    font-size: 20px;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--text);
}

input, textarea {
    font-family: Arial;
    font-size: 14px;
    color: var(--text);
    background: var(--input);
    border: 0;
    border-radius: 10px;
    padding: 12px;    
    outline: none;
    border: 2px solid var(--form);
}

input:focus, textarea:focus {
    border: 2px solid var(--button);
}

textarea {
    resize: vertical;
    height: 60px;
    &::placeholder { color: var(--text); }
}

input[type="time"]::-webkit-calendar-picker-indicator { 
    filter: var(--icon-color);
}


button {
    width: max-content;
    height: 34px;
    color: var(--text);
    font-size: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    background: var(--button);
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 20px;
}

ul {
    margin: 0;
}