.theme-dark {
    --header: rgba(13, 19, 26, 0.47);
    --background: rgba(58, 85, 120, 0.71);
    --form: rgba(153, 217, 234, 0.12);
    --input: #F1F1F1;
    --text: #e7e7e7;
    --input-text: #1E1E1E;
    --button-visualize: #709AD1; 
    --button-copy: #164fa5;
}

.theme-light {
    --header: rgba(240, 236, 236, 0.61);
    --background: rgba(191, 222, 243, 0.84);
    --form: #EDEDED;
    --input: #F1F1F1;
    --text: #1E1E1E;
    --input-text: #1E1E1E;
    --button-visualize: #709AD1; 
    --button-copy: #FFD152;
}