.theme-dark {
    --header: rgba(13, 19, 26, 0.47);
    --dropdown: rgb(67 79 95);
    --background: rgba(58, 85, 120, 0.71);
    --form: rgba(153, 217, 234, 0.12);
    --input: #F1F1F1;
    --text: #e7e7e7;
    --input-text: #1E1E1E;
    --back-color: #164fa5; 
    --accent-color: #709AD1;
    --shadow: rgb(67 79 95);
    --light: #F1F1F1;
    --hover: #709AD1;
}

.theme-light {
    --header: #aac9f0;
    --dropdown: #b0caee;
    --background: rgba(191, 222, 243, 0.84);
    --form: #EDEDED;
    --input: #F1F1F1;
    --text: #1E1E1E;
    --input-text: #1E1E1E;
    --back-color: #709AD1; 
    --accent-color: #FFD152;
    --shadow: #164fa557;
    --light: #F1F1F1;
    --hover: #164fa5;
}