.theme-dark {
    --background: rgba(191, 222, 243, 0.84);
    --form: #EDEDED;
    --input: #F1F1F1;
    --text: #1E1E1E;
    --button-visualize: #709AD1; 
    --button-copy: #FFD152;
}

.theme-light {
    --background: rgba(191, 222, 243, 0.84);
    --form: #EDEDED;
    --input: #F1F1F1;
    --text: #1E1E1E;
    --button-visualize: #709AD1; 
    --button-copy: #FFD152;
}